.about {
  height: 700px;
  width: 100vw;
  padding-top: 8%;
  color: white;
  background-color: grey;
}

.abt-cont {
  float: left;
  width: 50%;
  padding-left: 2%;
}

.abt-img {
  border-radius: 25px;
  display: inline-block;
  width: 48%;
  padding: 0%;
}

.abt-img img {
  position: absolute;
  border-radius: 50%;
  width: 29vw;
}

.abt-statement {
  width: 70%;
  padding-left: 15%;
  font-size: 23px;
  font-style: italic;
  font-family: sans-serif;
}

.btn {
  float: right;
  display:block;
  width: 29%;
  height: 40px;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: green;
}

.name {
  text-align: center;
  padding-left: 10%;
  width: 50%;
  color: orange;
  font-size: 60px;
  font-style: italic;
}

.image {
  position: absolute;
  border-radius: 50%;
  width: 29vw;
  height: 51vh;
  box-shadow: 0 0 8px 8px black inset;
}

.projects-btn{
  width: 85%;
  padding-bottom: 18%;
  padding-top: 6%;
}
