.about {
  padding-top: 8%;
  color: white;
}

.abt-cont{
  float: left;
  width: 50%;
  padding-left: 2%;
}

.name {
  text-align: center;
  width: 50%;
}

.image {
  box-shadow: 0 0 8px 8px white inset;
}
