.about {
  padding-top: 8%;
  color: white;
}

.abt-cont {
  float: left;
  width: 50%;
  padding-left: 2%;
}

.abt-img {
  border-radius: 25px;
  display: inline-block;
  width: 48%;
  padding: 0%;
}

.abt-img img {
  position: absolute;
  border-radius: 50%;
  width: 29vw;
}

.name {
  text-align: center;
  width: 50%;
}

.image {
  position: absolute;
  border-radius: 50%;
  width: 29vw;
  height: 51vh;
  box-shadow: 0 0 8px 8px black inset;
}
