@import "./navbar.scss";
@import "./about.scss";
@import "./body.scss";
@import "./skills.scss";

// .App {
//   text-align: center;
// }

body {
  background-color: #262626;
  overflow: hidden;
}

.hidden {
  display: none !important;
}
