.Skills-title {
  padding: 5%;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: orange;
  text-align: center;
}

.skill {
  position: relative;
  width: 100%;
  height: 75%;
  font-size: 30px;
  color: white;
  list-style: none;
  display: inline-block;
}
.skills {
  display: block;
  color: white;
  width: 100%;
  height: 700px;
}

.skill-title {
  display: inline-block;
  font-size: 30px;
  height: 30px;
}

.subjects {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 45px;
  border-radius: 10px;
}

.subjects ul {
  list-style: none;
  padding: 0px;
}

.progressbar {
  background-color: #262626;
  border-radius: 20px;
  width: 100%;
  height: 20px;
}

.html {
  border-radius: 20px;
  width: 80%;
  height: 100%;
  background-color: green;
}

.html-progress {
  float: right;
  padding-right: 20%;
}

.JavaScript {
  border-radius: 20px;
  width: 90%;
  height: 100%;
  background-color: green;
}

.js-progress {
  float: right;
  padding-right: 10%;
}

.Python {
  border-radius: 20px;
  width: 45%;
  height: 100%;
  background-color: green;
}

.python-progress {
  float: right;
  padding-right: 55%;
}

.Database {
  border-radius: 20px;
  width: 35%;
  height: 100%;
  background-color: green;
}

.db-progress {
  float: right;
  padding-right: 65%;
}
